.footer__nav {
    background-color: #212121;
    width: auto;
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.footer__date {
    color: #C4C4C4;
    margin-top: 75px;
}

.footer__img {
    margin-top: 75px;
    width: 192px;
    height: 26px;
}