.header {
    color: white;
    background: url(../../images/header_backround.png);
    background-size: cover;
    width: auto;
    height: 950px;
}

.header__container {
    display: block;
}