.Let_blog__title__main {
    margin-top: 150px;
    font-size: 38px;
    font-family: 'Arial Narrow Bold';
    text-transform: uppercase;
}

.Let_blog__txt__main {
    text-align: center;
}

* {
    flex-wrap: wrap;
}

.Let_blog__images_img {
    display: flex;
    justify-content: space-around;
    margin: 100px 200px 0px 200px;
}

.Let_blog__img {
    height: 350px;
    width: 300px;
}

.Let_blog__images_title {
    display: flex;
    justify-content: space-around;
    margin: 50px 200px 0px 200px;
}

.Let_blog__title {
    font-size: 20px;
    color: #3589AC;
    text-transform: uppercase;
}

.Let_blog__backround__logo {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 260px;
    opacity: 0.2;
    position: relative;
    bottom: 240px;
}

.Let_blog__TEXT {
    margin-top: -300px;
    color: #393939;
    font-size: 30px;
}

.Let_blog__images_txt {
    display: flex;
    justify-content: space-around;
    margin: 25px 200px 0px 200px;
}

.Let_blog__txt {
    text-align: center;
    font-size: 15px;
    color: #505050;
}

.Let_blog__footer {
    display: block;
    margin-top: 100px;
}

.Let_blog__footer__backround {
    display: flex;
    width: auto;
    height: 450px;
    background-color: #11749E;
    justify-content: center;
}

.Let_blog__footer__img {
    margin-right: 20px;
    width: 69px;
    height: 69px;
    margin-top: auto;
    margin-bottom: auto;
}

.Let_blog__footer__txt_2,
.Let_blog__footer__txt_1 {
    font-size: 15px;
    color: #E1EEF3;
    margin-top: auto;
    margin-bottom: auto;
}

.Let_blog__footer__txt_1 {
    margin-right: 100px;
}